*/target/**
save.txt
rusty_melvor/output.txt
re/game.js
re/save.js
re/saveWriter.js
re/bank.js
re/gamefull.js
re/namespaceregistry.js
rusty_melvor/header_map.json
rusty_melvor/numeric_to_string_id_map.json
re/combatManager.js
re/*
rusty_melvor/save_map.json
rusty_melvor/save2.txt
rusty_melvor/save3.txt
rusty_melvor/save4.txt
